

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    }
    .coluna-esquerda {
        width: 25%;
        float: left;
        box-sizing: border-box;
              }
      body1{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
      }
      body2{
        color: black;
     font-family: Arial, Helvetica, sans-serif;
      }
    .box-esquerda{
    background-color: black;
     height: 1200px; ;
    width: 100%;
    box-shadow: 6px 6px 6px;
   text-decoration: none;
   padding: 5px 20px;
}
.imagem{
    border-radius: 50%;
}
    .coluna-direita {
    width: 70%;
    float: right;
    box-sizing: border-box;
        }
              
        
.box-direita{
    height: 100px; ;
    width: 1000px;
    box-shadow: 6px 6px 6px;
      
}
    .link-sem-decoracao{
        text-decoration: none;
        color: inherit;
    }                      
.languages {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
  }
  
  .languages p {
    margin-bottom: 1em;
  }
  
  .language {
    display: inline-block;
    width: 100px;
    font-weight: bold;
  }
  
  .level {
    display: inline-block;
    margin-left: 10px;
  }

